<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="squeeze" version="1">
<!--<ToolBar name="aBasicToolBar">
  <text>Main Toolbar</text>
  <Action name="login" />
</ToolBar>
<ToolBar name="aDatabaseToolBar">
  <text>Database ToolBar</text>
  <Action name="productsBrowse" />
  <Action name="offersBrowse" />
  <Action name="usersBrowse" />
  <Action name="measuresBrowse" />
  <Action name="categoriesBrowse" />
  <Action name="BalancesBrowse" />
  <Action name="TransactionsBrowse" />
  <Action name="clientsBrowse" />
  <Action name="doPurchase" />
  <Action name="cashFlowBrowse" />
  </ToolBar>-->
</kpartgui>
