<div id="lemontag"><h6><a href="http://lemonpos.org" title="LemonPOS, an open source point of sale" id="lemontag32">LemonPOS</a></h6></div>

<div id="menuFooter">General
<ul>
<li><a href="[(base_url)]">About</a></li>
<li><a href="[(base_url)]screens">Screenshots</a></li>
<li><a href="[(base_url)]features">Features</a></li>
<li><a href="[(base_url)]roadmap">Roadmap</a></li>
</ul>
</div>

<div id="menuFooter">Documentation
<ul>
<li><a href="[(base_url)]wiki">Wiki</a></li>
<li><a href="[(base_url)]manuals">Printed Manuals</a></li>
<li><a href="[(base_url)]videos">Videos</a></li>
</ul>
</div>

<div id="menuFooter">Get Involved
<ul>
<li><a href="[(base_url)]tickets">Submit tickets</a></li>
<li><a href="[(base_url)]translate">Translate to your language</a></li>
<li><a href="[(base_url)]writedocs">Write Documentation</a></li>
<li><a href="[(base_url)]maillist">Mailing list</a></li>
</ul>
</div>

<div id="copyFooter"><a href="http://www.lemonpos.org/" title="Designed by Miguel Chavez Gamboa">Site Design &copy; 2009
Miguel Ch&aacute;vez Gamboa</a>  |
<a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a>,
<a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page uses valid Cascading Stylesheets" rel="external">Valid <abbr title="W3C Cascading Stylesheets">css</abbr></a>
</div>